# Python bytecode
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Виртуальные окружения
venv/
.env/
.venv/
.env

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Django
db.sqlite3
media/

# Дистрибутивы и сборка
dist/
build/
*.egg-info/

# Временные файлы
*.log
*.tmp
*.swp
*~
